* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #272727;
    color: #000D42;
}
header {
    width: 100%;
    height: 130px;
    background-color: #1C1C1C;
    float:left;
    padding: 10px 0px 0px 0px;
}
header div {
    width: 50%;
    float:left;
}
#logo img {
    margin-top: 1%;
    margin-left: 95%;
    height: 70%;
    width: 7%;
}
#titulo{
    padding-top:30px;
}
nav {
    width: 100%;
    height: 60px;
    background-color: #590000;  
    float:left;
    padding: 35px 0px;
}
nav ul {
    list-style: none;
    margin-top:7px  ;
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 60px;
    color: #fff;
    padding: 20px;                                 
}
nav ul li a:hover {
    color: #000;
}

main {
    width: 100%;
    float: left;
}
main div {
    width: 80%;
    margin: 0 auto;
}
#titulo {
    margin-top: 25px;
    float: left;
    margin-left: 15%;
    margin-bottom: 2%;
}
#titulo h1 {
    font-size: 40px;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
}
.imagens {
    width: 30%;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.imagens img {
    box-shadow: 1px 1px 15px #fff;
    border: #000 solid 4px;
    border-radius: 20px;
    width: 100%;
    height: 503px;
    width: 457px;
}
.imagens img:hover { 
    transform: scale(1.02);        
}
.imagens p {
    margin-top: 4%;
    border-radius: 15px;
    border-width: thin;
    border: #000 solid 4px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
footer {
    margin-top: 4%;
    color:#fff;
    width: 100%;
    float:left;
    background-color: #590000;
    padding: 15px 0px;
}
footer p{
    text-align: center;
}